body {
    background-color: linen;
    color: steelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
}

h2 {
    display: inline-block;
    border: 1px solid lightgray;
    padding: .5rem;
}

.tile {
    display: inline-block;
    margin: 1em;
    width: 300px;
    /* padding: .5rem; */
    background-color: lightsteelblue;
}

.tile .title {
    padding: .125em;
    background-color: steelblue;
    color: white;
    text-align: center;
}

.tile .map {
    padding: .125em 0;
}
