* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: cadetBlue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.layout {
    max-width: 1360px;
    min-width: 96vw;
    min-height: 100vh;
    background-color: Cornsilk;
    color: cadetBlue;
    display: flex;
    flex-direction: column;
}


/* header settings */


.header {
    border-bottom: 1px solid cadetblue;
    padding: 1em;
    text-align: left;
}

.header div {
    margin: 1em;
    display: inline-block;
    border: 1px solid cadetBlue;
    padding: .5em 1.25em;
    color: cadetBlue;
}

.header div:hover {
    background-color: cadetBlue;
    color: Cornsilk;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.header div.focused {
    background-color: cadetBlue;
    color: Cornsilk;
}

.header .home {
    font-size: 1.5em;
    rotate: -4deg;
}

.header .lists,
.header .maps {
    border: 1px solid ;
    font-size: 1.25em;
    rotate: -3deg;
}

.header .maps {
    rotate: -2deg;
}


/* main settings */


main {
    margin-bottom: auto; /* push following elements (footer) to the bottom */
}

.welcome {
    margin: 2em;
    color: steelblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.welcome .symbol {
    font-size: 1.5em;
    color: cadetBlue;
}

.welcome-text-0 {
    font-size: 2.5em;
    font-style: oblique;
    color: cadetBlue;
}

.welcome-text-2 {
    padding-left: .5em;
}

.welcome > div {
    margin: 1em;
    min-width: 300px;
    max-width: 300px;
    border: 1px dotted cadetblue;
    padding: 1em;
    flex: 1;
}

.welcome > div:nth-child(1) {
    border: 0;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.welcome > div:nth-child(1) > div {
    text-align: left;
}

.links_menu {
    /* min-width: 100%;
    max-width: 100%; */
    margin: 2em;
    margin-left: 4em;
    /* background-color: cadetblue; */
    /* overflow: hidden; */
}

.links_menu span {
    margin-right: .5em;
    padding: .25em .75em;
    border: 1px solid cadetBlue;
    /* background-color: Cornsilk; */
    color: cadetBlue;
    font-size: .90em;
    font-weight: 600;
}

.links_menu span:hover {
    background-color: cadetBlue;
    color: Cornsilk;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.links_menu span.focused {
    background-color: cadetBlue;
    color: Cornsilk;
}

ul {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
}

ul > div {
    margin: 1em;
}

ul > div > a {
    display: inline-block;
}

.tile {
    width: 304px;
    border: 2px solid Cornsilk;
    background-color: lightsteelblue;
}

.tile:hover {
    border: 2px solid steelblue;
    -webkit-transition: border 600ms linear;
    -moz-transition: border 600ms linear;
    -o-transition: border 600ms linear;
    -ms-transition: border 600ms linear;
    transition: border 600ms linear;
}

.tile .title {
    padding: 1.25em;
    background-color: steelblue;
    color: white;
    font-size: 1em;
    text-align: center;
}

.tile .map {
    padding: .25em 0;
}

.tile .info {
    padding: 0 8px 16px 8px;
    font-size: .85em;
    color: #060606;
}

.full-map-viewer {
    text-align: center;
}

.full-map-viewer svg {
    border: 1px solid cadetblue;
}

.svg-path {
    stroke-width: .9;
    stroke: steelblue;
    fill: white;
}

.simple-map-viewer .svg-path {
    stroke: #333333;
}

.svg-path.focused {
    fill: steelblue;
}

.svg-path.hovered {
    fill: lightsteelblue;
    -webkit-transition: fill 600ms linear;
    -moz-transition: fill 600ms linear;
    -o-transition: fill 600ms linear;
    -ms-transition: fill 600ms linear;
    transition: fill 600ms linear;
}

.svg-path..clickable {
    cursor: pointer;
}

.svg-path.clicked {
    fill: steelblue;
    cursor: wait;
}

.svg-text {
    font-size: 0.66rem;
    stroke-width: .9;
    stroke: steelblue;
}


/* footer settings */


.footer {
    margin-top: auto; /* push itself and following elements to the bottom */
    padding: .75em 1.5em;
    text-align: right;
    font-size: 0.8rem;
}

